body {
  background-color: white;
}


.container {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}


.navbar-brand {
  margin-left: 10px;
  font-weight: boldnes;
}


.form-control {
  width: 800px;
}


.sign-wrapper {
  height: 50px;
  width: 190px;
  padding: 10px;
}


.wrapper-sign a {
  text-decoration: none;
  color: #afafaf;
  font-size: 12px;
  padding: 10px;
}


.wrapper-sign p {
  margin-left: 29px;
}


.cart-wrapper {
  height: 50px;
  width: 225px;
  padding: 10px;
}


.cart-wrapper a {
  padding: 10px;
  text-decoration: none;
  color: #afafaf;
  font-size: 12px;
}
/* .fa-heart {
  margin-left: 15px;
}


.fa-user {
  margin-left: 20px;
}


.sign {
  text-decoration: none;
  color: #afafaf;
  margin-left: 10px;
  font-size: 12px;
}


.fa-shopping-cart {
  margin-left: 20px;
}


.cart {
  text-decoration: none;
  margin-left: 15px;
  color: #afafaf;
  font-size: 12px;
} */